/* Tejeswi Devi Priya Pillarisetty N01654962 Web Programming and Design */

/* Set width and height of HTML and body elements to 100% */
html,
body {
  width: 100%;
  height: 100%;
}

/* Reset default margin for all elements */
* {
  margin: 0;
}

/* Styling for header section */
header {
  background-image: url(../imgs/hero.jpg);
  height: 50%; /* Set height to 50% of viewport height */
  background-size: cover;
  background-color: rgb(255, 255, 255);
}

/* Styling for logo within the header */
header img {
  height: 20%; /* Set height to 20% of header height */
  width: 15%; /* Set width to 15% of header width */
  padding-left: 3.5%;
  padding-top: 1%;
}

/* Styling for unordered list within the header */
header ul {
  list-style: none;
  display: flex;
  margin-left: auto; /* Align the list to the right */
}

/* Styling for text within the header */
header p {
  font-size: 3.5rem;
  color: white;
  padding-top: 0.3%;
  text-align: center;
  text-shadow: 2px 2px 10px #b80300; /* Add text shadow */
}

/* Hover effect for header text */
header p:hover {
  text-shadow: 4px 2px 4px rgba(170, 0, 60, 0.434);
}

/* Styling for navigation */
nav {
  float: right; /* Float navigation to the right */
  padding: 2%;
  margin-right: 50px;
}

/* Styling for navigation links */
nav ul li a {
  margin-left: 50px;
  font-size: 23px;
  text-decoration: none;
  color: rgb(192, 0, 0);
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

/* Hover effect for navigation links */
nav ul li a:hover {
  background-color: rgb(255, 255, 255);
}

/* Styling for main content section */
main {
  position: absolute;
  top: 35%; /* Position main content 35% from the top */
  left: 50%; /* Center main content horizontally */
  transform: translateX(-50%);
  grid-template-columns: 250px 250px; /* Set grid columns */
  background-color: #b80300;
  padding: 10px;
}

/* Styling for forms */
form {
  width: 400px;
  margin: 0px auto;
  background-color: bisque;
}

/* Styling for fieldsets */
fieldset {
  text-align: center;
  border: 2px white solid;
  overflow: auto;
}

/* Styling for labels */
label {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-weight: 600;
  color: #b80300;
  margin-right: 5px;
}

/* Styling for footer */
footer {
  background-color: black;
  clear: both;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: aliceblue;
  width: 100%;
  padding: 0.5%;
}
