/* Tejeswi Devi Priya Pillarisetty N01654962 Web Programming and Design */

/* Set width and height of html and body to 100% */
html,
body {
  width: 100%;
  height: 100%;
}

/* Reset default margin for all elements */
* {
  margin: 0;
}

/* Styling for header section */
header {
  background-image: url(../imgs/hero.jpg); /* Background image */
  height: 50%; /* Set height */
  background-size: cover; /* Cover the entire container */
  background-color: rgb(255, 255, 255); /* Background color */
}

/* Styling for logo in header */
header img {
  height: 20%; /* Set height */
  width: 15%; /* Set width */
  padding-left: 3.5%; /* Set padding */
  padding-top: 1%; /* Set padding */
}

/* Styling for unordered list in header */
header ul {
  list-style: none; /* Remove default list style */
  display: flex; /* Arrange items in a row */
  margin-left: auto; /* Align to the right */
}

/* Styling for paragraph in header */
header p {
  font-size: 3.5rem; /* Set font size */
  color: white; /* Text color */
  padding-top: 0.3%; /* Set padding */
  text-align: center; /* Align text to center */
  text-shadow: 2px 2px 10px #b80300; /* Add text shadow */
}

/* Styling for header paragraph on hover */
header p:hover {
  text-shadow: 4px 2px 4px rgba(170, 0, 60, 0.434); /* Change text shadow on hover */
}

/* Styling for main section */
main {
  position: absolute; /* Positioning */
  top: 25%; /* Position from top */
  left: 50%; /* Position from left */
  transform: translateX(-50%); /* Center horizontally */
}

/* Styling for grid container */
.grid-container {
  display: grid; /* Use grid layout */
  grid-template-columns: 250px 250px; /* Set column width */
  grid-gap: 10px; /* Set gap between grid items */
  background-color: #b80300; /* Background color */
  padding: 10px; /* Set padding */
}

/* Styling for grid container items */
.grid-container > div {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Background color with opacity */
  text-align: center; /* Align text to center */
  padding: 20px 0; /* Set padding */
  font-size: 30px; /* Set font size */
}

/* Styling for images inside grid container */
.grid-container img {
  height: auto; /* Set height to auto */
  width: auto; /* Set width to auto */
}

/* Styling for image container */
.image-container {
  position: relative; /* Positioning */
}

/* Styling for grid item */
.item {
  position: relative; /* Positioning */
}

/* Styling for overlay on grid item hover */
.item .overlay {
  position: absolute; /* Positioning */
  top: 0; /* Position from top */
  left: 15%; /* Position from left */
  width: 180px; /* Set width */
  height: 180px; /* Set height */
  background-color: rgba(192, 0, 0, 0.7); /* Background color with opacity */
  color: white; /* Text color */
  font-size: 20px; /* Set font size */
  text-align: center; /* Align text to center */
  transform: rotateY(180deg); /* Rotate initially */
  transition: transform 0.5s ease; /* Add transition effect */
  pointer-events: none; /* Prevent interaction */
  opacity: 0; /* Hide initially */
  display: flex; /* Use flexbox */
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align content vertically */
}

/* Styling for overlay on grid item hover */
.item:hover .overlay {
  transform: rotateY(0deg); /* Rotate on hover */
  opacity: 1; /* Show on hover */
}

/* Styling for image inside grid item */
.item:hover img {
  opacity: 0; /* Hide image on hover */
}

/* Styling for image inside grid item */
.item img {
  height: 180px; /* Set height */
  width: 180px; /* Set width */
  transition: opacity 0.5s ease; /* Add transition effect */
}

/* Styling for footer section */
footer {
  background-color: black; /* Background color */
  clear: both; /* Clear floats */
  position: fixed; /* Positioning */
  bottom: 0; /* Position from bottom */
  text-align: center; /* Align text to center */
  color: aliceblue; /* Text color */
  width: 100%; /* Set width */
  padding: 0.5%; /* Set padding */
}
